/* =================== Global Styles & Variables =================== */

:root {
  --cor-principal: #1f1f9e;
  --cor-secundaria: #645af5;
  --cor-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =================== Navbar =================== */

.titulo {
  font-size: 32px;
  font-weight: bold;
  padding: 0px 0px 0px 2.5rem;
}

.background-principal {
  background-color: var(--cor-principal);
}

.icon-navbar {
  padding-right: 50px;
}

/* =================== Hero Section =================== */

.hero-section {
  position: relative;
  height: 65vh;
  background-image: url("../images/BackGround.png");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content {
  position: relative;
  z-index: 2;
}

/* =================== Search Bar =================== */

#s {
  background: var(--cor-secundaria)
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="white" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg>')
    no-repeat 14px center;
  text-indent: 1em;
  display: inline-block;
  border: 0 none;
  width: 3em; /* Largura inicial */
  height: 3em;
  border-radius: 3em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  padding: 1em 1.5em;
  cursor: pointer;
  -webkit-appearance: none;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  align-items: center;
  justify-content: center;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  color: var(--cor-white);
}

#s:hover,
#s:focus {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="white" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg>');
  color: var(--cor-white);
}

#s:focus {
  width: 100%;
  cursor: text;
}

#s:focus::placeholder {
  color: var(--cor-white);
}

/* =================== Carousel =================== */

.visuallyhidden {
  position: absolute;
  z-index: -1;
  right: 0;
  opacity: 0;
}

.container {
  overflow: hidden;
  padding: 30px;
}

.card-carousel {
  --card-max-width: 745px;
  --card-height: 495px;
  --card-width: 80%;
  --carousel-min-width: 600px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: var(--card-height);
  min-width: var(--carousel-min-width);
  transition: filter 0.3s ease;
}

@media screen and (max-width: 640px) {
  .card-carousel {
    margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2);
  }
}

.card-carousel.smooth-return {
  transition: all 0.2s ease;
}

.card-carousel .card {
  background: whitesmoke;
  width: var(--card-max-width);
  max-width: var(--card-max-width);
  text-align: center;
  padding: 0px;
  min-width: 250px;
  height: var(--card-height);
  position: absolute;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.5);
  transition: inherit;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  filter: brightness(0.9);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card.highlight {
  filter: brightness(1);
}

.card:nth-of-type(1) .image-container {
  background-image: url(../images/Condominio\ 1.png);
}

.card:nth-of-type(2) .image-container {
  background-image: url(../images/Condominio\ 2.png);
}

.card:nth-of-type(3) .image-container {
  background-image: url(../images/Condominio\ 3.png);
}
.card:nth-of-type(4) .image-container {
  background-image: url(../images/Condominio\ 4.jpg);
}
.card:nth-of-type(5) .image-container {
  background-image: url(../images/Condominio\ 5.jpg);
}

.image-container {
  width: 100%; /* Ocupa toda a largura do card */
  height: 85%; /* Ocupa 85% da altura, deixando espaço para o texto */
  background-size: cover;
  background-position: center;
}

.card-content {
  height: 15%; /* Ocupa os 15% restantes da altura */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
}

.card p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
}

.card-content a {
  font-size: 0.9rem;
  color: var(--cor-secundaria);
  text-decoration: none;
  margin-top: 5px;
  font-weight: 600;
}

h2 {
  padding-top: 1em;
  text-align: center;
  color: white;
  border-radius: 0.2em;
  display: inline-block;
  transform: translateX(calc((100vw - 100%) / 2));
}

/* =================== Footer =================== */

.footer-container {
  margin-top: 1rem;
}
