:root {
  --color-titulo: #0000ff;
  --color-preto: #000000;
  --color-cinza: #ac9e9e;
  --background-principal: #ffffff;
  --cor-principal: #1f1f9e;
  --cor-secundaria: #645af5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--background-principal);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.titulo {
  color: var(--color-titulo);
  line-height: 100%;
  font-weight: 600;
}

.sub-titulo {
  font-weight: 600;
}

.logoCarro > img {
  position: relative;
  width: 128px;
  height: auto;
}

.form-control {
  border-radius: 0px;
  border: none;
}

.form-control:focus {
  box-shadow: none;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding-left: 5px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  border: none;
  border-bottom: 3px solid var(--color-preto);
}
.form-signin input[type="password"] {
  border: none;
  border-bottom: 3px solid var(--color-preto);
}

.form-signin .form-control::placeholder {
  opacity: 0.7;
}

.font-cinza {
  color: var(--color-cinza);
}
.font-cinza a {
  color: var(--color-cinza);
  font-weight: bold;
}

.form-signin a {
  text-decoration: none;
}

.btn {
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background-color: var(--color-titulo);
  border: none;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 600;
}

.conta {
  color: var(--color-cinza);
  font-size: 18px;
}

.conta-destaque {
  color: red;
  margin-right: 2px;
  font-weight: bold;
}

.form-signin > p:last-of-type {
  color: var(--color-cinza);
}

.form-signin > p:last-of-type a {
  color: var(--color-titulo);
  font-weight: bold;
}
