/* =================== Global Styles & Variables =================== */

:root {
  --cor-principal: #1f1f9e;
  --cor-secundaria: #645af5;
  --cor-white: #ffffff;
  --cor-preta: #000000;
  --cor-cinza: #ac9e9e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

/* =================== Navbar =================== */

.titulo {
  font-size: 32px;
  font-weight: bold;
  padding: 0px 0px 0px 2.5rem;
}

.background-principal {
  background-color: var(--cor-principal);
}

.icon-navbar {
  padding-right: 50px;
}

/* =================== Footer =================== */

.footer-container {
  margin-top: 1rem;
}
