/* =================== Global Styles & Variables =================== */
/* Variáveis de cor unificadas */
:root {
  --cor-principal: #1f1f9e;
  --cor-secundaria: #645af5;
  --cor-white: #ffffff;
  --cor-preta: #000000;
  --cor-cinza: #ac9e9e;
  --color-titulo: #0000ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

/* =================== Navbar =================== */

.titulo {
  font-size: 32px;
  font-weight: bold;
  padding: 0px 0px 0px 2.5rem;
}

.background-principal {
  background-color: var(--cor-principal);
}

.icon-navbar {
  padding-right: 50px;
}

body {
  background-color: #f8f9fa;
}

/* =================== Form Container =================== */

.form-container {
  background: white;
  border-radius: 16px;
  padding: 40px;
  margin: 4rem auto;
  max-width: 900px;
  width: 100%;
}

.form-title {
  color: #0000ff;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.form-subtitle {
  text-align: center;
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 30px;
}

.car-icon {
  text-align: center;
  margin-bottom: 40px;
}

.car-icon img {
  width: 100px;
  height: auto;
}

.form-container .form-control {
  border-radius: 0px;
  padding: 3px 0;
  font-size: 1rem;
  background-color: #f8f9fa;
  border: none;
}

.form-container .form-control:focus {
  box-shadow: none;
}

.form-container input[type="email"] {
  border: none;
  border-bottom: 3px solid var(--cor-cinza);
}
.form-container input[type="password"] {
  border: none;
  border-bottom: 3px solid var(--cor-cinza);
}

.form-container input[type="text"] {
  border: none;
  border-bottom: 3px solid var(--cor-cinza);
}

.form-control::placeholder {
  color: #999;
}

.form-label {
  color: #999;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.form-container .btn-save {
  background-color: var(--cor-principal);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 48px;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.2s ease-in;
  display: block;
  margin: 40px auto 0;
}

.form-container .btn-save:hover {
  background: var(--cor-secundaria);
  color: var(--cor-white);
}

.form-group {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .form-container {
    padding: 30px 20px;
  }

  .form-title {
    font-size: 2rem;
  }

  .car-icon img {
    width: 60px;
    height: 60px;
  }
}
